
<div>
    <table class="table-auto text-left">
        <thead class="text-xs uppercase whitespace-nowrap">
            <tr>
                <th scope="col" class="px-2">
                    Country:
                </th>
                    <td>
                        {{ nationId }}
                    </td>
            </tr>
            <tr>
                <th scope="col" class="px-2">
                    Capital:
                </th>
                    <td>
                        {{ nationCapital }}
                    </td>
            </tr>
            <tr>
                <th scope="col" class="px-2">
                    Region:
                </th>
                    <td>
                        {{ nationRegion }}
                    </td>
            </tr>
            <tr>
                <th scope="col" class="px-2">
                    Income:
                </th>
                    <td>
                        {{ nationIncome }}
                    </td>
            </tr>
            <tr>
                <th scope="col" class="px-2">
                    Latitude:
                </th>
                    <td>
                        {{ nationLatitude }}
                    </td>
            </tr>
            <tr>
                <th scope="col" class="px-2">
                    Longitude:
                </th>
                    <td>
                        {{ nationLongitude }}
                    </td>
            </tr> 
        </thead>   
    </table>
    </div>