<div class="row">
  <div class="first column"></div>
  <div>
    <map-component
    (IDElect)="fromIDChoose = $event"
    (CapitalElect)="fromCapitalChoose = $event"
    (RegionElect)="fromRegionChoose = $event"
    (IncomeElect)="fromIncomeChoose = $event"
    (LatitudeElect)="fromLatitudeChoose = $event"
    (LongitudeElect)="fromLongitudeChoose = $event"
    ></map-component>


  </div>
  <div class="second column"></div>
    <table>
      <app-country
      [nationId]="fromIDChoose"
      [nationCapital]="fromCapitalChoose"
      [nationIncome]="fromIncomeChoose"
      [nationLatitude]="fromLatitudeChoose"
      [nationLongitude]="fromLongitudeChoose"
      ></app-country>
    </table>
</div>