<div class="row">
  <div class="first column"></div>
  <div>
    <world-map-here
    (IDElect)="fromIDChoose = $event"
    (CapitalElect)="fromCapitalChoose = $event"
    (RegionElect)="fromRegionChoose = $event"
    (IncomeElect)="fromIncomeChoose = $event"
    (LatitudeElect)="fromLatitudeChoose = $event"
    (LongitudeElect)="fromLongitudeChoose = $event"
    ></world-map-here>


  </div>
  <div class="second column"></div>
    <table>
      <mod-info
      [nationId]="fromIDChoose"
      [nationCapital]="fromCapitalChoose"
      [nationIncome]="fromIncomeChoose"
      [nationLatitude]="fromLatitudeChoose"
      [nationLongitude]="fromLongitudeChoose"
      ></mod-info>
    </table>
</div>