<div class="row">
  <div id="first column" class="flex justify center">
  <div>
    <app-country
    (IDElect)="fromIDChoose = $event"
    (CapitalElect)="fromCapitalChoose = $event"
    (RegionElect)="fromRegionChoose = $event"
    (IncomeElect)="fromIncomeChoose = $event"
    (LatitudeElect)="fromLatitudeChoose = $event"
    (LongitudeElect)="fromLongitudeChoose = $event"
    ></app-country>
  </div>

  <div id="second column" class="pt-12">
    <table>
      <app-map
      [nationId]="fromIDChoose"
      [nationCapital]="fromCapitalChoose"
      [nationRegion]="fromRegionChoose"
      [nationIncome]="fromIncomeChoose"
      [nationLatitude]="fromLatitudeChoose"
      [nationLongitude]="fromLongitudeChoose"
      ></app-map>
    </table>
    </div>
</div>